<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
        $(function(){

        });
        function subForm(){//新增企业
            $.post( "/org/add", { "org[name]": "John", "org[type]": "sponsors","org[description]": "2pm"
                                    ,"org[phone]":13988228888,"org[address]":"北京" })
                    .done(function( data ) {
                        console.log(data);
            });
        }
    </script>
</head>
<body>
<h1><%= title %></h1>
<form method="post" action="/org/add">
    <p><%= title %></p><input type="text" name="org[name]" placeholder="<%= title %>"/>
    <input type="hidden" name="org[type]" value="<%= orgType %>"/>
    <p>简介</p><input type="text" name="org[description]" placeholder="简介"/>
    <p>电话</p><input type="text" name="org[phone]" placeholder="电话"/>
    <p>地址</p><input type="text" name="org[address]" placeholder="地址"/>
    <input type="button" value="保存" onclick="javascript:subForm();"/>
</form>
</body>
</html>
